/* RESET E CONFIGURAÇÔES DE BASE */

:root{
    --color60: #E6E6E6;
    --color30: #FFE499;
    --color10: #FE7F05;
    --textWhite: #fff;
    --textBlack: #000;
}

*{
    border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CSS DASHBOARD */

body{
    background-color: var(--color60);
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 15px;
}

.navbar{
    min-height: 100vh;
    width: 80px;
    background-color: var(--color10);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    width: 50px;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.greeting{
    background-color: var(--color10);
    width: 95%;
    height: 100px;
    border-radius: 20px;
}
main{
    width: 100%;
}
.content{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    margin-left: 10px;
}

.kpiBox{
    border: 1px solid red;
    height: 130px;
    width: 95%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.kpi{
    background-color: var(--color10);
    width: 300px;
    height: 100px;
    border-radius: 20px;
}

.recipe{
    width: 45%;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--textWhite);
}

.recipe img{
    width: 30px;
}

.recipeBox{
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.recipe a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #000;
    font-size: 1.5em;
}
