/* RESET E CONFIGURAÇÔES DE BASE */

:root{
    --color60: #E6E6E6;
    --color30: #FFE499;
    --color10: #FE7F05;
    --textWhite: #fff;
    --textBlack: #000;
    --color10hover: #c96303;
}

*{
    border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CSS DASHBOARD */

body{
    background-color: var(--color60);
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 15px;
}

.navbar{
    min-height: 98vh;
    width: 80px;
    background-color: var(--color10);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.navbar img{
    width: 50px;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.greeting{
    width: 81%;
    height: 100px;
    border-radius: 20px;
    color: var(--textWhite);
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    justify-content: space-evenly;

}

.greeting p{
    width: 50%;
    /* border: 1px solid blue; */
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color10);
}

main{
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    margin-left: 10px;
}

.recipe{
    width: 45%;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--textWhite);
    transition: 0.2s;
}

.recipe img{
    width: 30px;
}

.recipeBox{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.recipe p{
    margin-left: 20px;
    color: #000;
    font-size: 1.5em;
}

.addRecipeDelimiter{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-top: 20px;
    gap: 30px;
}

.formContainer input{
    border: solid 1px black;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

.formContainer select, button{
    border-radius: 10px;
    padding: 5px 20px;
}

.formContainer h1{
    background-color: var(--color10);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--textWhite);
    text-transform: capitalize;
    font-weight: 500;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form button{
    background-color: var(--color10);
    color: var(--textWhite);
    font-weight: bold;
}

.iptBox, .ingredient{
    width: 80%;  
}

.iptBox{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px #aaa;
}

.select{
    width: 60%;
}

.select select{
    width: 100%;
    height: 30px;
    background-color: var(--color10);
    color: var(--textWhite);
    font-size: 1.05em;
}

.modoPreparo{
    width: 80%;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px #aaa;
}

.modoPreparo textarea{
    width: 100%;
    padding-bottom: 150px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.selectsBox{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px #aaa;
}

.ingredientBox{
    display: flex;
    flex-direction: column; 
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px #aaa;
}

.ingredientBox select{
    background-color: var(--color10);
    color: var(--textWhite);
    font-size: 1.05em;
}

.ingredientInputs{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.ingredientInputs button{
    width: 20%;
    height: fit-content;
    margin-top: 20px;
    padding: 8px 10px;
}

.boxIng{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

.ingredientsOutput{
    width: 100%;
    border-radius: 20px;
    height: fit-content;
}

.boxKpi{
    /* border: 1px solid black; */
    background-color: #eee;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
    margin: 20px 0 0 0;
    box-shadow: 5px 5px #ccc;
}

.kpi{
    width: 50%;
    /* border: 1px solid red; */
    height: 90%;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    color: var(--textWhite);
    background-color: var(--color10);
    align-items: center;
    margin-left: 20px;
    box-shadow: 5px 5px #ccc;
    padding-top: 20px;
}

.graphic{
    /* border: 1px solid blue; */
    border-radius: 20px;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.value{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    align-items: center;
}

.value p{
    width: 50%;
}

.recipeScreen{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.recipeContent{
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    overflow-y: auto;
}

.recipeContent img{
    width: 50px;
}

.recipeInfos{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recipeTitle{
    font-size: 1.7em;
    margin: 10px 0 10px 0;
}

.ingredientBoxScreen{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3em;
}

.preparoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* HOVERS */

.recipe:hover{
    cursor: pointer;
    scale: 1.05;
}

.receitaTitle{
    margin: 10px 0px 30px 0px;
    background-color: var(--color10);
    padding: 10px 20px;
    color: var(--textWhite);
    border-radius: 10px;
    font-weight: 500;
}

.navbar ul li:hover, .exit:hover{
    scale: 1.1;
    transition: 0.2s;
}

#cadastroReceiraBtn{
    padding: 10px 60px;
    font-size: 1.3em;
}

#ingredientsOutput{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

#alerta{
    color: red;
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
  margin-left: 100%;
}

.card_erro {
  display: none;
  background-color: #f35c5c;
  color: var(--textWhite);
  width: 50%;
  position: fixed;
  border-radius: 4px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  justify-self: center;
  
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.card_erro img{
    width: 30px;
}

/* -------------- */

.alerta_sucesso{
  display: flex;
  justify-content: flex-end;
  margin-left: 100%;
}

.card_sucesso {
  display: none;
  background-color: #93e762;
  color: var(--textWhite);
  width: 50%;
  position: fixed;
  border-radius: 4px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  justify-self: center;
}

.card_sucesso #mensagem_sucesso{
  font-weight: 500;
  font-size: 20px;
}

.card_sucesso img{
    width: 30px;
}

.legend{
    width: 20px;
    height: 20px;
    background-color: #000;
    border: 1px solid black;
}

/* COR LEGENDAS */

#entradaLegend{
background-color: #FF6384;
}
#pratoPrincipalLegend{
background-color: #36A2EB;
}
#sobremesaLegend{
background-color: #FFCE56;
}
#bebidaLegend{
background-color: #4BC0C0;
}
#lancheLegend{
background-color: #9966FF;
}

#dataFestivaLegend{
background-color: #FF6384;
}
#diaDiaLegend{
background-color: #36A2EB;
}
#fitnessLegend{
background-color: #FFCE56;
}
#dateLegend{
background-color: #4BC0C0;
}
#outroLegend{
background-color: #9966FF;
}

.value:hover{
    scale: 1.2;
}

button:hover{
    background-color: var(--color10hover);
}

